<!-- <div class="flex items-stretch h-screen">
  <div class="self-center flex-1 w-64 text-center px-4 py-2 m-2">
   <h2> Version 0.1 </h2>
   <br>
   <a href="/login" mdc-button [unelevated]="true" class="big-round-corner-button">
      Login
   </a>
  </div>
</div> -->
<mdc-top-app-bar #demoappbar [short]="false" [fixedAdjustElement]="content"
[fixed]="true" [dense]="true">
  <mdc-top-app-bar-row>
    <mdc-top-app-bar-section align="start" title="Demo Technologies">
      <mdc-icon mdcTopAppBarNavIcon>menu</mdc-icon>
    </mdc-top-app-bar-section>
    <mdc-top-app-bar-section align="end">
      
    </mdc-top-app-bar-section>
  </mdc-top-app-bar-row>
</mdc-top-app-bar>

<main #content class="flex h-screen">
    <mdc-drawer drawer="permanent" #sidepanel>
        <mdc-drawer-header title="SQ1Shield" subtitle="SecqureOne Inc"></mdc-drawer-header>
        <mdc-drawer-content>
          <mdc-list useActivatedClass>          
            <mdc-list-divider></mdc-list-divider>
            <h6 mdcListGroupSubheader>Labels</h6>
            <a mdc-list-item routerLink="/assets">
              <mdc-icon mdcListItemGraphic>bookmark</mdc-icon>Assets
            </a>
            <a mdc-list-item href="#/drawer-demo">
              <mdc-icon mdcListItemGraphic>bookmark</mdc-icon>Friends
            </a>
            <a mdc-list-item href="#/drawer-demo">
              <mdc-icon mdcListItemGraphic>bookmark</mdc-icon>Work
            </a>
            <mdc-list-divider></mdc-list-divider>
            <a mdc-list-item href="#/drawer-demo">
              <mdc-icon mdcListItemGraphic>settings</mdc-icon>Settings
            </a>
            <a mdc-list-item href="#/drawer-demo">
              <mdc-icon mdcListItemGraphic>announcement</mdc-icon>Help & feedback
            </a>
          </mdc-list>
        </mdc-drawer-content>
      </mdc-drawer>

      <section class="m-5">
          <router-outlet></router-outlet>
      </section>
   
    </main>